
.folio  {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
}

@media (min-width: 640px) {
.folio  {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.folio .center-content h1   {
  text-align: center;
}

.folio .center-content p  {
  margin: 0;
}

.workpage   {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img-txt-sect   {
  display: grid;
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr;
}

/*.img-txt-head   {
  grid-column: 1 / 3;
  grid-row: 1;
}
*/
.imgtxttxt  {
  grid-column: 2 / 3;
  grid-row: 2;
}

.imgtxtimg  {
  grid-column: 1 / 2;
  grid-row: 2;
}
.view-all   {
  grid-column: 1 / 3;
  grid-row: 3;
}

.home-style   {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 1fr;
}

@media  (min-width: 640px)  {
.home-style   {
  grid-gap: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
}

.center-headline   {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  font-size: 1.25em;
  }

@media (min-width: 640px) {
  .center-headline   {
    grid-column: 1 / 5;
    grid-row: 1;
    font-size: 2.08417em;
    line-height: 1.25em;
    margin: .75em 1.5em 0 1.5em;
  }
}

.center-content   {
  grid-column: 1;
  grid-row: 3;
  }

@media (min-width: 640px) {
.center-content   {
  grid-column: 2 / 4;
  grid-row: 2 / 6;
  }
}

.workpage .center-content  {
  grid-row: 1;
}

.aside-left-news {
    grid-column: 1;
    grid-row: 2;
  }
/*
@media (min-width: 640px)   {
  .aside-left-news {
    grid-column: 1;
    grid-row: 2;
  }
}
*/
@media (min-width: 640px)   {
.aside-left-news  {
  float: left;
  }
}

.aside-left-general   {
  grid-column: 1;
  grid-row: 3;
  }
/*
@media (min-width: 640px)   {
.aside-left-general   {
  grid-column: 1;
  grid-row: 3 / 6;
  }
}
*/
@media (min-width: 640px)   {
.aside-left-general   {
  float: left;
  }
}

.aside-right {
    grid-column: 1;
    grid-row: 5;
  }

@media (min-width: 640px)   {
  .aside-right {
    grid-column: 4;
    grid-row: 2 / 6;
  }
}

@media (min-width: 640px)   {
  .aside-left {
    grid-column: 1;
    grid-row: 1 / 6;
  }
}   

.navigation-top   {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.menulink   {
  grid-column: 1 / 2;
  text-decoration: underline;
}

@media (min-width: 640px) {
.menulink   {
  grid-column: 2 / 3;
  text-align: center;
  }
}

.right-nav  {
  grid-column: 3 / 4;
  text-align: right;
  text-decoration: underline;
}

.workpage img   {
  width: 100%;
}


.announcegrid   {
  display: grid;
  grid-gap: 1em;     
}

.img-txt-head   {
  grid-area: headline;
  justify-self: center;
  align-self: center;
}

.announcetxt  {
  grid-area: announcetext;
}

.announceimg1   {
  grid-area: announceimage1;
  justify-self: center;
  align-self: center;
}

.view-all   {
  grid-area: viewall;
  justify-self: center;
  align-self: center;
}  

.announcerow1  {
  grid-template-areas:
    "headline" 
    "announceimage1"    
    "announcetext"
    "viewall";       
}

@media (min-width: 640px) {
  .announcerow1 {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "headline       headline"  
      "announceimage1 announcetext"
      "viewall        viewall"; 
  }
}

.announcerow1rev  {
  grid-template-areas: 
    "headline"
    "announceimage1"    
    "announcetext"
    "viewall";   
}

@media (min-width: 640px) {
  .announcerow1rev {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "headline     headline"  
      "announcetext announceimage1"
      "viewall      viewall"; 
  }
}

.announceimg  {
  grid-area: announceimage1;
  justify-self: center;
}

.announceimg img  {
  width: 100%;
}

.navigation-top li:last-child {
  margin: 0 0 0 auto;
}

.right-nav  {
  grid-column: 3 / 4;
}

nav.navigation-main ul  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
   list-style: none;
   margin: 0 auto;
  padding: 1em 0;
}

@media (min-width: 640px) {
  nav.navigation-main ul  {
    flex-wrap: nowrap;
  }
}  

.announcegrid h3  {
  line-height: 1.5em;
  text-align: center;
  padding: 0 .5em;
  margin-bottom: .375em;
}
@media (max-width: 639px)  {
.project  {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  }
}

.project  {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;
  }

@media (max-width: 639px)  {
.project  {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  }
}
/*

.imgleft .title-detail {
  grid-column: 1 / 2 ;
  grid-row: 1;
  text-align: center;
  }


.imgright .title-detail {
  grid-column: 1 / 2 ;
  grid-row: 1;
  text-align: center;
  }
}
*/

.imgleft .maintxt {
  grid-column: 2 / 3;
  grid-row: 1;
  }

@media (max-width: 639px)  {
.imgleft .title-detail {
    grid-column: 1;
    grid-row: 1;
  }
}

.imgright .maintxt {
  grid-column: 1 / 2;
  grid-row: 1;
  }

@media (max-width: 639px)  {
.imgright .title-detail {
  grid-column: 1;
  grid-row: 1;
  }
}

.imgleft .mainimg   {
  grid-column: 1 / 2;
  grid-row: 1;
}

@media screen and (max-width: 639px)   {
.imgleft .mainimg   {
  grid-column: 1;
  grid-row: 2;
  }
}

@media screen and (max-width: 639px)   {
 .imgleft .main-img-txt   {
  grid-column: 1;
  grid-row: 3;
  }
}

.imgright .mainimg   {
  grid-column: 2 / 3;
  grid-row: 1;
}

@media screen and (max-width: 639px)   {
.imgright .mainimg   {
  grid-column: 1 / 3;
  grid-row: 2;
  }
}

.imgright .main-img-txt   {
  grid-column: 1 / 2;
  grid-row: 2;
  text-align: right;
  margin-right: 2rem;
  }

@media screen and (max-width: 639px)   {
 .imgright .main-img-txt   {
  grid-column: 1 / 3;
  grid-row: 3;
  text-align: left;
  }
}

.txt-describe   {
  grid-column: 1 / 3;
  grid-row: 2;
}

@media screen and (max-width: 639px) {
.txt-describe   {
  grid-column: 1;
  grid-row: 3;
  }
}

.folio-project  {
  grid-column: 1 / 3;
  grid-row: 3;
}

@media screen and (max-width: 639px) {
  .folio-project  {
    grid-column: 1;
    grid-row: 4;
  }
}

.folio-flex ul  {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}



.folio-img-one  {
  grid-column: 1;
  grid-row: 1;
}

@media (min-width: 640px) {
  .folio-img-one  {
    grid-column: 2 / 4;
    grid-row: 1;
  }
}

.folio-txt-one  {
  grid-column: 1 / 5;
  grid-row: 2;
}

@media (min-width: 640px) {
  .folio-txt-one  {
      grid-column: 2 / 3;
      grid-row: 1;
   }
}

.folio-img-two  {
  grid-column: 1 / 5;
  grid-row: 3;
  margin-top: 2em;
}

@media (min-width: 640px) {
   .folio-img-two  {
      grid-column: 3 / 4;
      grid-row: 1;
   }
}

.folio-txt-two  {
  grid-column: 1 / 5;
  grid-row: 4;
}

@media (min-width: 640px) {
   .folio-txt-two  {
      grid-column: 4 / 5;
      grid-row: 1;
      margin-top: 2em;
   }
}

.folio-list-test  {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 640px) {
  .folio-img-one-test  {
    /*grid-column: 1 / 2;
    grid-row: 1;*/
  }
}

.folio-img-one-test img   {
  width: 100%;
}

@media (min-width: 640px) {
  .folio-txt-one-test  {
      /*grid-column: 2 / 3;
      grid-row: 1;
      /*margin-top: 2em;*/
   }
}

li div.folio-img  {
  grid-column: 1 / 2;
}

li div.folio-txt  {
  grid-column: 2 / 3;
}

.folio-img-featured   {
  grid-column: 2 / 4;
  grid-row: 1;

}

.folio-txt-featured   {
  grid-column: 2 / 4;
  grid-row: 2;
  text-align: center;
}

.imgleft .image-row  {
  grid-column: 1 / 2;
  grid-row: 1;
}

.imgleft .text-row   {
  grid-column: 2 / 3;
  grid-row: 1;
}

.imgleft .text-row  {
  margin-left: 2rem;
}

.imgright .image-row  {
  grid-column: 2 / 3;
  grid-row: 1;
}

.imgright .text-row   {
  grid-column: 1 / 2;
  grid-row: 1;
}

.imgright .text-row  {
  text-align: right;
  margin-right: 2rem;
}

.centered-content   {
  grid-column: 1;
}

@media (min-width: 640px)   {
.centered-content  {
  grid-column: 2 / 4;
  }
}

.contact  {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
}

.contact-address  {
  grid-column: 1;
  grid-row: 1;
  margin-top: 1em;
}

.contact-form   {
  grid-column: 1;
  grid-row: 2;
}

@media screen and (min-width: 640px)  {

  .contact  {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

  .contact-address  {
    grid-column: 1;
    grid-row: 1;
    align-items: center;
}

  .contact-form   {
    grid-column: 2;
    grid-row: 1 / 3;
}

}

@media  (min-width: 640px)  {
  .folio-list   {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media  (min-width: 640px)  {
  .folio-list-shop   {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 640px)  {
  .folio-list-shop form  {
    display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
  }
}

.folio-list-shop form  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

.folio-list form   {
  grid-column: 2 / 4;
}

@media screen and (max-width: 640px)  {
  .contact p   {
    font-size: 1em;
  }
}

/* Items in the product page set in the grid area */
.boxer  {
display: grid;
grid-gap: 1.5em;
grid-template-columns: 1fr;
}

@media screen and (min-width: 640px)   {
  .boxer  {
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
  }  
}



.boxer-item  {
display: grid;
grid-gap: 1.5em;
grid-template-columns: 1fr;
}

@media (min-width: 640px)   {
  .boxer-item  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }  
}



/* General intro for items with multiple versions

/* Heading with title, author and artist(s) */

/* Main or topmost image */

  @media (min-width: 640px)   {
    .gridimg  {
      grid-column: 1;
      grid-row: 1;
    }
  }

    .gridimg  {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }

    .gridimg-vers  {
      grid-column: 1;
      grid-row: 1;
      justify-self: center;
    }

  @media (min-width: 640px)   {
    .gridimg-vers  {
      grid-column: 2;
      grid-row: 1;
    }
  }

    .gridimg-vers img   {
      max-width: 100%;
      max-height: 384px;
    }


/*General info in column to side of image */

    .boxed  {
    grid-column: 1;
    grid-row: 2;
  }

  @media (min-width: 640px)   {
  .boxed  {
    grid-column: 2;
    grid-row: 1;
    }
  }

      .boxed-vers  {
    grid-column: 1;
    grid-row: 2;
  }

  @media (min-width: 640px)   {
  .boxed-vers  {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    }
  }

.gridimg img {
    max-height: 320px;
  }

@media (min-width: 640px)   {
  .gridimg img {
    max-height: 512px;
  }
}

  .list-page .gridimg img { 
    max-height: 314px;
  }

  .folio-img  {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .folio-txt   {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  @media screen and (min-width: 640px) {
    .folio-img  {
      grid-column: 1;
      grid-row: 1;
    }
    .folio-txt   {
        grid-column: 2;
        grid-row: 1;
    }
  }

  .article-grid   {
    display: grid;
    grid-gap: 20px;
  }

  .cart   {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  } 










